@import '../_components/mdx/styles/rehype-prism.css';
html {
    @apply tw-scroll-smooth;
}

body {
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
}

code[class*="language-"], pre[class*="language-"] {
    color: red; /* 测试用 */
  }